.card {
  position: relative;
  font-size: 18px;
  color: #fff;
  padding: 5px 25px 15px 25px;
  font-weight: 500;
  background: black;
  border-radius: 15px;
}

.card::after {
  content: "";
  display: block;
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  position: absolute;
  top: -5px;
  left: -5px;
  background: linear-gradient(
    to right,
    rgb(235, 235, 114),
    lightgreen,
    rgb(247, 148, 148),
    rgb(96, 96, 202)
  );
  z-index: -1;
  border-radius: 15px;
}

.card > * {
  margin: 10px 0;
}

.card > h3 {
  font-size: 25px;
  color: #fff;
  margin: 5px 0;
}

.card .main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card .main > .temp {
  font-weight: 300;
  font-size: 100px;
}

.card .main > .temp > span {
  position: relative;
  top: -70px;
  left: -10px;
  font-size: 30px;
  font-weight: 700;
}

.card .main .weatherIcon {
  width: 150px;
}

.card > .weatherElement {
  margin-top: 35px;
}

.card > .weatherElement > * {
  margin: 10px 0;
  font-size: 16px;
}

.card .refresh {
  position: absolute;
  right: 15px;
  bottom: 10px;
  border: none;
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  .card {
    min-width: 250px;
    min-height: 280px;
  }

  .card .main > .temp {
    font-weight: 300;
    font-size: 70px;
  }

  .card .main > .temp > span {
    top: -60px;
    font-size: 20px;
  }

  .card .main .weatherIcon {
    width: 100px;
  }
}
